html, body{
    height: calc(100% - 25px);
    margin: 0;
    background-color: #868686;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


#body-about{
    overflow-y: hidden;
}

a:visited {
    color: white;
}

#page-title{
    margin: 20px;
    font-weight: 900;
}

.header{
    align-items: flex-end;
    display: flex;
    background-color: #1c1c1c;
    padding:0;
    margin: 0;
}

.nav-container{
    align-items: flex-end;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}

.default-text{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.centered{
    text-align: center;
}

.submenu{
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
}

.link-submenu, .right-header-btn{
    text-decoration: none;
    color: white;
}

.default-subtitles{
    margin: 0;
}

.image-paragraph-div{
    display: flex;
    padding-top: 20px;
}

.info-site-section{
    background-color: #2c2c2c;
    border-radius: 5px;
    width: fit-content;
}

.download-section{
    height: 100%;
    background-color: #2c2c2c;
    border-radius: 5px;
    width: 800px;
}

.fill-empty-place{
    height: 100%;
}

.section-title{
    font-weight: normal;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
}

.left-container{
    transform: translateX(-120%);
    transition: transform 1s;
}

.right-container{
    margin-left: auto;
    transform: translateX(120%);
    transition: transform 1s;
}

.project-container{
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background: #000000;
    border-radius: 10px;
}

.title-project{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: normal;
}

.paragraph-project-left{
    padding: 57px 0 0 40px;
    max-width: 400px;
    min-width: 400px;
    margin: 0;
    font-weight: normal;
    height: fit-content;
}

.paragraph-project-right{
    padding: 57px 40px 0;
    max-width: 400px;
    min-width: 400px;
    margin: 0;
    font-weight: normal;
    height: fit-content;
}

.preview-project{
    max-height:300px;
    width: auto;
    height: auto;
}

.tags{
    display: flex;
}
.stats-link-projects{
    display: flex;
    margin: auto 10px 10px 40px;
    justify-content: space-between;
    align-items: flex-end;

}

.view-on-github-btn-left{
    padding: 5px 5px 5px 10px;
    width: 160px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 5px;
}

.view-on-github-btn-right{
    padding: 5px 5px 5px 10px;
    width: 160px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    border-radius: 5px;
}

.view-on-github-btn-left:hover, .view-on-github-btn-right:hover{
    background-color: #343434;
    cursor: pointer;
}

.view-on-github-logo{
    padding-left: 5px;
    height: 40px;
}

.view-on-github-text{
    margin: 0;
    white-space: nowrap;
}

.infos-div{
    display: flex;
    flex-direction: column;
}

.tag{
    height: 20px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: auto;
    margin-bottom: 5px;
    margin-right: 10px;
}

.language-text{
    font-size: 14px;
}

.language-dot{
    margin-right: 5px;
}

.color-css {
    fill: #563d7c;
}

.color-javascript{
    fill: #f1e05a;
}

.color-HTML{
    fill: #e34c26;
}

.color-java{
    fill: #b07219;
}

.last-element{
    margin-bottom: 20px;
}

.filler-shape-right{
    height: auto;
    width: 100%;
    background-color: #2c2c2c;
    margin-left: 20px;
    border-radius: 10px;
}


.filler-shape-left{
    height: auto;
    width: 100%;
    background-color: #2c2c2c;
    margin-right: 20px;
    border-radius: 10px;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.enhanced-project-container{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#left-footer-infos{
    height: 100%;
    margin-left: 20px;
    display: flex;
}

#right-footer-infos{
    height: 100%;
    margin-right: 20px;
    display: flex;
}

#contact-mail{
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

#phone-number{
    margin-right: 20px
}

#address{
    margin-left: 20px
}

.right-header-div{
    margin: auto 20px auto auto;
}

#explanation-website{
    margin: 0;
    padding: 20px;
    max-width: 800px;
}

.about-color-shape{
    background-color: #626262;
}

.discord-logo{
    height: 30px;
    margin-left: 10px;
}

.discord-server-btn{
    display: flex;
    align-items: center;
    background-color: #5865F2;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.discord-server-btn:hover{
    background-color: #6e7ff2;
    cursor: pointer;
}

.discord-btn-github-btn{
    display: flex;
    align-items: center;
    margin-top: 10px;
    float: right;

}

.github-button-bundled{
    margin: 0 0 0 10px;
}

#easters-egg-text{
    margin: 0;
    padding: 20px;
}

.download-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#download-link{
    background-color: #11b000;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}